.content-about 
{
    
    .about-container 
    {
        color: white;  
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

        .meet-the-team
        {
            display: flex;
            align-items: center;
            justify-content: center;
            background: linear-gradient(#7DAAD0 0, #2A3C6B 100%);
            width: 100%;
            height: 450px;
            font-size: 2rem;
            box-shadow: 0px -4px 10px 2px rgba(0, 0, 0, 0.25);

            h1 
            {
                text-shadow: 3px 3px 10px rgba(0, 0, 0, 0.25);
                font-weight: 800;
            }
            
        }

        .box-shadow
        {
            box-shadow: 0px -4px 10px 2px rgba(0, 0, 0, 0.25);
            background-color: var(--primary-color-100);;
            z-index: 100;
            padding: 0 0 5rem 0;
            min-height: 100vh;
            width: 100%;
        }

        .about-us
        {
            width: min(90%, 75rem);
            margin: 5rem auto 0 auto;
            display: grid;
            grid-template-columns: 0.2fr 1px 1fr;
            gap: 2rem;
            row-gap: 8rem;
    
            .about-text 
            {
                display: flex;
                justify-content: center;
                text-align: left;
                flex-direction: column;
                row-gap: 0.5rem;
            }

            img 
            {
                border-radius: 50%;
                width: 250px;
                height: 250px;
            }

            .about-images 
            {
                display: flex;
                align-items: center;
                margin-left: auto;
            }

            .seperator 
            {
                background-color: white;
            }
            
            h1 
            {
                font-weight: 700;
                margin: 0;
            }

            h2 
            {
                font-weight: 500;
                margin: 0;
            }

            a 
            {
                text-decoration: underline;
            }

            p 
            {
                margin: 0;
                font-weight: 400;
                line-height: 1.5;
            }
        }
    }
}
