.content-about 
{
    
    .about-container 
    {
        background-color: #9FB3D1;
        padding: 10rem 0 5rem 0;
        min-height: 100vh;
        display: flex;
        flex-direction: column;
        //justify-content: center;
        //align-items: center;
        row-gap: 6rem;
        color: white;  

        .about-the-website
        {
            width: min(90%, 75rem);
            margin: 0 auto 0 auto;
            display: flex;
            flex-direction: column;
            row-gap: 0.5rem;

            h1
            {
                margin: 0;
            }

            p 
            {
                margin: 0;
                line-height: 1.5;
            }
        }

        .about-us
        {
            width: min(90%, 75rem);
            margin: 0 auto 0 auto;
            display: grid;
            grid-template-columns: 0.5fr 1px 1fr;
            gap: 2rem;
            row-gap: 6rem;
    
            .about-text 
            {
                display: flex;
                justify-content: center;
                text-align: left;
                flex-direction: column;
                row-gap: 0.5rem;
            }

            img 
            {
                border-radius: 50%;
                width: 250px;
                height: 250px;
            }

            .about-images 
            {
                display: flex;
                align-items: center;
                margin-left: auto;
            }

            .seperator 
            {
                background-color: white;
            }
            
            h1 
            {
                font-weight: 700;
                margin: 0;
            }

            h2 
            {
                font-weight: 500;
                margin: 0;
            }

            a 
            {
                text-decoration: underline;
            }

            p 
            {
                margin: 0;
                font-weight: 400;
                line-height: 1.5;
            }
        }
    }
}
