.container
{
    display: flex;
}

.groups-content
{
    padding: 8rem 0 0 0;
    min-height: 100vh;
    background-color: #9FB3D1;
    flex: 8;

    .groups
    {
        color: white;
        display: grid;
        margin-left: 5rem;
        width: 250px;
    }
}

