.content
{
    width: 100%;
    min-height: 100vh;
    background-color: #9FB3D1;

    .earth
    {
        height: 600px;
        padding-top: 6rem;
        background: repeating-radial-gradient(circle at center 22rem, #FFFFFF 0, #FFFFFF 50px, #7DAAD0 300px,  #2A3C6B 100%);
    }

    .container
    {
        
        box-shadow: 0px -4px 10px 2px rgba(0, 0, 0, 0.25);
        padding-bottom: 5rem;

        .information
        {
            margin: 0 auto 5rem auto;
            padding-top: 5rem;
            width: min(90%, 75rem);
            display: grid;
            grid-template-columns: 50% 1px 50%;
            gap: 2em;
            row-gap: 10em;
            color: white;         
            
            
            .information-text
            {
                margin:auto;
                display: flex;
                flex-direction: column;
                row-gap: 0.5rem;
            }

            .information-images
            {
                display: flex;
                align-items: center;
                justify-content: center;
            }

            .seperator
            {
                background-color: white;
            }
            
            h1 
            {
                font-weight: 700;
                margin: 0;
            }

            p 
            {
                margin: 0;
                font-weight: 400;
                line-height: 1.5;
            }
        }
    }
    
    
}
