.container
{
    display: flex;
}

.invitations-content
{
    padding: 8rem 0 0 0;
    min-height: 100vh;
    background-color: #9FB3D1;
    flex: 8;

    .invitations 
    {
        color: white;
        display: grid;
        margin: 0 auto 5rem auto;
        grid-auto-flow: row;
        gap: 1rem;
        width: min(90%, 75rem);
        border: 5px solid #5F7595;

        .title
        {
            background-color: #5F7595;

            h1 
            {
                margin: 1rem;
            }
        }

        .invitations-table
        {
            text-align: left; 
            border-spacing: 0;

            tr:nth-child(1) 
            {
                background-color: #5F7595;
            }

            th 
            {
                font-size: 1.2rem;
                font-weight: 600;
            }

            td 
            {
                font-size: 1rem;
            }
        }
    }
}

