.background {
  background: repeating-radial-gradient(circle at center, #9cc5e7 0, #9cc5e7 10%, #7DAAD0 40%,  #2A3C6B 100%);
  min-height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.form {
  margin: 8rem auto;
  background: var(--primary-color-200);
  box-shadow: 4px 6px 11px -4px rgba(0, 0, 0, 0.25);
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
  padding: 1rem;
  border-radius: 5px;

  .title {
    color: white;
    text-align: center;
    font-weight: 700;
    font-size: 2rem;
    text-shadow: 2px 2px 1px rgba(0, 0, 0, 0.25);
  }

  .btn {
    display: flex;
    justify-content: center;

    button {
      cursor: pointer;
      width: 242px;
      height: 53px;
      background: var(--primary-color-100);
      border-style: solid;
      box-shadow: 4px 6px 11px -4px rgba(0, 0, 0, 0.25);
      font-size: 1.5rem;
      font-weight: 600;
      color: white;
      border-radius: .5rem;
      border-color: white;
      transition: background-color 200ms ease-in-out;

      &:hover {
        background-color: var(--primary-color-200);
      }
    }

    p {
      cursor: pointer;
      color: white;
      margin: 0;

      &:hover {
        text-decoration: underline;
      }
    }
  }
}

.field {

  h2 {
    margin: 0;
    color: white;
    font-size: 1.2rem;
    font-weight: 400;
  }

  input {
    font-size: 1rem;
    border-radius: .5rem;
    width: 25rem;
    padding: .5rem;
    outline: none;
    border: 2px solid #3c4b61;
    transition: all 150ms ease-in-out;

    &:hover {
      background-color: #dfdddd;
      box-shadow: 0 0 0 1px #dfdddd;
    }

    &:focus {
      background-color: #dfdddd;
    }
  }
}

.error {
  color: red;
  text-align: center;
  margin: 0.2rem 0;
}

.verify {
  text-align: center;
  color: white;
}
