.container
{
    display: flex;
}

.map-content
{
    padding: 8rem 0 0 0;
    min-height: 100vh;
    background-color: #9FB3D1;
    flex: 8;

    .map
    {
        color: white;
        display: grid;
        margin-left: 5rem;
        width: 250px;
    }

    .map-frame
    {
        position: relative;
        display: grid;
        height: 600px;
        width: 900px;
        font-size: xx-large;
        margin-left: 5rem;
    }

    .point-list
    {
        display: inline-block;

    }
}

