.container
{
    display: flex;
}




.map-content
{
    padding: 8rem 0 0 2rem;
    min-height: 100vh;
    background-color: #9FB3D1;
    flex: 8;
    display: grid;
    grid-template-columns: 70% 30%;
    column-gap: 1em;
    row-gap: 1em;

    .group-name
    {
        font-weight: bold;
        font-size: x-large;
    }

    .buttons
    {
        
        justify-content: right;
    }

    .map-frame
    {
        position: relative;
        border-color: green;
        border-style: solid;


    }

    .point-list
    {
        border-color: red;
        border-style: solid;
        font-weight: bold;
        text-align: center;
        background-color: white;

        .location-table
        {

        }
    }

    .member-list, tr, td
    {
        color: black;
        font-weight: bold;
        background-color: white;
        border-color: 1px solid black;
        border-width: thin;
        border-style: solid;
        border-collapse: collapse


    }

}


