.container
{
    display: flex;
}




.map-content
{
    padding: 8rem 3rem 0 2rem;
    min-height: 100vh;
    background-color: #9FB3D1;
    flex: 8;
    display: grid;
    grid-template-columns: 70% 30%;
    column-gap: 1em;
    row-gap: 1em;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    color: white;

    .group-name
    {
        font-weight: bold;
        font-size: x-large;
        text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
        color: white;

    }

    .buttons
    {
        
        justify-content: right;
    }

    .map-frame
    {
        position: relative;
        border-color: green;
        border-style: solid;


    }

    .point-list
    {
        border-color: red;
        border-style: solid;
        font-weight: bold;
        text-align: center;
        background-color: white;
        color: white;


    }

    .member-container
    {
        background-color: white;
        border-color: black;
        border-style: solid;
        width: auto;
        text-align: center;

        button
        {
            text-align: right;
        }

        .member-list, tr
        {
            border-color: #9FB3D1;

            border-style: solid;
            color: white;
            font-weight: bold;
            background-color: white;
            border-color: 1px solid black;
            border-width: thin;
            border-style: solid;
            display: block;
            
            border-collapse: separate;
           
    
    
    
        }
        td
        {

            text-align: center;
            padding: 10px;
            width: 500px;
            
        }
    }


}


