.profile-content
{
    align-items: center;
    display: flex;
    padding: 10rem 50rem;
    min-height: 100vh;
    background-color: #9FB3D1;

    .map
    {
        background-color: #5F7595;
    }
}
