.sidebar
{
    background-color: var(--secondary-color-400);
    width: 250px;
    height: 100vh;
    position: sticky;
    top: 0;
    

    .sidebar-items
    {
        margin: 8rem auto 0 auto;
  
        .sidebar-text
        {
            color: white;
            font-size: 1.2rem;
            font-weight: 500;
            list-style-type: none;
            padding: 1.5rem;

            &:hover
            {
                background-color: var(--secondary-color-500);
                border-left: 5px solid #FF4646;
            }

            a 
            {
                display: flex;
                align-items: center;
            }

            // .MuiSvgIcon-root
            // {
            //     height: 25px;
            //     width: 25px;
            // }
        }

        #active
        {
            background-color: var(--secondary-color-500);
            border-left: 5px solid #FF4646;
        }

        span 
        {
            margin: 0.5rem;
        }
    }
}




    
