.sidebar
{
    background-color: #7E94B4;
    width: 250px;
    height: 100%;
    display: block;
    position: fixed;

    .sidebar-items
    {
        margin: 8rem auto 0 auto;
        
        
        .sidebar-text
        {
            color: white;
            font-size: 1.2rem;
            font-weight: 500;
            list-style-type: none;
            padding: 1.5rem;

            &:hover
            {
                background-color: #5F7595;
                border-left: 5px solid #FF4646;
            }

            a 
            {
                display: flex;
                align-items: center;
            }
        }

        #active
        {
            background-color: #5F7595;
            border-left: 5px solid #FF4646;
        }

        span 
        {
            margin: 0.5rem;
        }
    }
}




    
